/* FORM  */

.modal__form {
  @include centerflex($dir: column, $ali: null);
  width: 100%;
}

.modal__title {
  @include fontstyle(20px, null, 1.15, 0.03em, center);
  margin-bottom: 12px;
  align-self: center;
  color: var(--title-color);
}

.input-effect:focus-within .modal__icon,
.input-effect:focus-within .modal__input,
.input-effect:focus-within .modal__textarea {
  border-color: #188ce8;
  fill: #188ce8;
}

.modal__label {
  @include fontstyle(12px, null, 1.16, 0.01em);
  display: inline-block;
  margin-bottom: 4px;
  color: var(--text-color);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
  &::placeholder {
    @include fontstyle(12px, null, 1.16, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.accept {
  @include centerflex();
  margin-bottom: 30px;
}

.accept__label {
  user-select: none;
  @include centerflex();
}

.accept__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.accept__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .accept__input:checked + & {
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
  }
}

.accept__text {
  @include fontstyle(14px, 400, 1.71, 0.03em);
  margin-left: 9px;

  color: #757575;
}

.accept__conditions {
  text-decoration-line: underline;
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.send-btn {
  padding: 10px 52px;
  align-self: center;
}
