/* header */
.header {
  position: fixed;
  width: 100%;

  top: 0;
  left: 0;
  z-index: 1;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: var(--primewhite);
}

.header__container {
  @include centerflex();
}
.header__logo {
  margin-right: 93px;
}
.navigation__list {
  display: flex;
}

.navigation__item {
  @include fontstyle(14px, 500, 1.14, 0.02em);
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  color: inherit;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.header-connects {
  margin-left: auto;
}

.connects__list {
  display: flex;
}
.connects__item:not(:last-child) {
  margin-right: 50px;
}

.connects__link {
  @include fontstyle(14px, 500, 1.14, 0.02em);
  @include centerflex();

  color: var(--text-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connects__icon {
  margin-right: 10px;
  fill: currentColor;
}
