/* Projects section  */

.projects {
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 94px 0;
  }
}

.projects-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list__item {
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.projects-list__link--mod {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.meta--mod {
  flex-grow: 2;
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects-list__link:hover & {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.overlay__text {
  @include fontstyle(18px, null, 1.5, 0.03);
  padding: 63px 24px;

  color: var(--primewhite);
}

.meta {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.meta__title {
  @include fontstyle(18px, null, 2, 0.06em);
  color: var(--title-color);
  margin-bottom: 4px;
}

.meta__type {
  @include fontstyle(16px, null, 1.88, null);
  color: var(--text-color);
}
