/* Colors

accent - #2196F3
titlecolor - #212121
textcolor - ##757575 
primewhite - #FFFFFF 
hoverbutton -  #188CE8 
footertext - rgba(255, 255, 255, 0.6) 
buttonbackground -  #F5F4FA
mainbackground - #2F303A; */

:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --primewhite: #ffffff;
  --hoverbutton: #188ce8;
  --footertext: rgba(255, 255, 255, 0.6);
  --buttonbackground: #f5f4fa;
  --mainbackground: #2f303a;
}
