/* Benefits section  */

.benefits {
  padding: 94px 0;
}
.benefits__list {
  @include centerflex($ali: null);
}
.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.icon-wrap {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  @include centerflex();

  margin-bottom: 30px;
}

.benefits__title {
  @include fontstyle(14px, null, 1.14, null);

  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  @include fontstyle(14px, null, 1.71, null);
  color: var(--text-color);
}
