/* Clients-section  */

.clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients__title {
  color: var(--title-color);
  @include fontstyle(28px, null, 0.84, 0.03em, center);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include fontstyle(36px, null, 0.85, 0.03em, center);
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: calc((100% - 2 * 15px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
}

.clients__link {
  height: 92px;
  @include centerflex();
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
