/* Hero section */

.hero {
  background-color: var(--mainbackground);
  padding: 118px 0px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile-hero2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet-hero.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet-hero2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desk-hero-1x.jpg);
  }

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desk-hero-2x.jpg);
  }
}

.hero__container {
  @include centerflex($dir: column, $jus: null);
}

.hero__title {
  @include fontstyle(26px, 900, 1.61, 0.06em, center);
  text-transform: uppercase;
  color: var(--primewhite);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include fontstyle(44px, 900, 1.36, 0.06em, center);
  }
}
