/* Our Team section  */

.team {
  padding: 60px 0;
  background: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team__title {
  @include fontstyle(28px, null, 0.84, 0.03em, center);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include fontstyle(36px, null, 0.85, 0.03em, center);
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
  }

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-wrapper {
  padding: 30px;
}

.team__name {
  @include fontstyle(16px, 500, 1.18, null, center);
  color: var(--title-color);
  margin-bottom: 10px;
}
.team__specialty {
  @include fontstyle(16px, null, 1.18, null, center);
  color: var(--text-color);
  margin-bottom: 16px;
}
